
    <div class="container">

      <div class="row">

        <div class="col-xs-12">

          <div class="well">

            <h2>Customer Orders</h2>

            <form class="form-inline">
              <div class="form-group">
                <label for="f">Filter:</label>
                <input type="text" id="f" ng-model="orderFilter.product" />
              </div><!-- /.form-group -->
            </form><!-- /.form-inline -->

            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                  <tr class="repeat-animation"
                    ng-repeat="order in orders | filter:orderFilter | orderBy:'name'">
                  <td>{{ order.product }}</td>
                  <td>{{ order.total | currency }}</td>
                </tr>
                <tr ng-class="totalType">
                  <td>&nbsp;</td>
                  <td>{{ ordersTotal | currency }}</td>
                </tr>
              </tbody>
            </table><!-- /.table .table-striped -->

          </div><!-- /.well -->

        </div><!-- /.col-xs-12 -->

      </div><!-- /.row -->

    </div><!-- /.container -->
