
    <div class="container">

      <div class="row">

        <div class="col-xs-12">

          <div class="well">

            <h2>{{ customer.name }}'s Orders</h2>

            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <td>Product</td>
                  <td>Total</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="order in customer.orders">
                  <td>{{ order.product }}</td>
                  <td>{{ order.total | currency }}</td>
                </tr>
              </tbody>
            </table><!-- /.table .table-striped -->

          </div><!-- /.well -->

        </div><!-- /.col-xs-12 -->

      </div><!-- /.row -->

    </div><!-- /.container -->
